.box {
    display: flex;
    justify-content: center;
}

.lyricList {
    padding: 500px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 30em;
}

.lyricItem {
    padding: 10px;
    font-size: 32px;
    color: lightgrey;
    transition: all 0.3s ease;
}

.hint {
    color: black;
}
