.container {
    margin: 0 auto;
    padding: 36px 8vw 72px;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
    margin: 24px 0;
}

.projectCard.itemCard {
    padding: 18px 24px 24px;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--theme-black-shadow);
}

.formButton:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

html[data-theme='dark'] .formButton:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

.projectName {
    font-size: 24px;
}

.projectOwner {
    color: var(--theme-color);
}

.projectDate {
    font-size: 14px;
    opacity: 0.6;
}

.input {
    padding: 8px 10px;
    width: 100%;
    max-width: 300px;
}

.formButton {
    appearance: none;
    margin-top: 16px;
    padding: 6px 14px;
    outline: none;
    background: none;
    color: initial;
    cursor: pointer;
}

.input,
.formButton {
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--theme-black-shadow);
}

.card {
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--ifm-menu-color-background-active);
    color: var(--ifm-menu-color);
    background-color: var(--theme-page-background);
    transition: background var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
}

html[data-theme='dark'] .card {
    background-color: var(--ifm-menu-color-background-active);
}

.card:hover {
    color: var(--ifm-menu-color-active);
    background-color: var(--ifm-menu-color-background-active);
}

html[data-theme='dark'] .card:hover {
    background-color: var(--theme-page-background);
}

.projectDelete {
    display: none;
    position: absolute;
    top: 12px;
    right: 16px;
    color: red;
    opacity: 0.8;
    cursor: pointer;
}

.projectCard:hover .projectDelete {
    display: block;
}

.itemCard {
    padding: 12px 12px 12px 24px;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--ifm-menu-color-background-active);
    color: var(--ifm-menu-color);
    transition: background var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
}

.itemCard.active,
.itemCard:hover {
    color: var(--ifm-menu-color-active);
    background-color: var(--ifm-menu-color-background-active);
}
