.container {
    margin: 0 auto;
    padding: 36px 8vw 72px;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.container h1,
.container h2,
.container h3 {
    user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
    margin: 24px 0;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-16px);
    }

    80% {
        opacity: 0.3;
        transform: translateX(-4px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.projectCard.itemCard {
    padding: 18px 24px 24px;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--theme-black-shadow);
    animation: slideIn 0.2s ease-in-out;
}

.projectName {
    font-size: 24px;
}

.projectOwner {
    color: var(--theme-color);
}

.projectDate {
    font-size: 14px;
    opacity: 0.6;
}

.input {
    max-width: 300px;
}

.card {
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--ifm-menu-color-background-active);
    color: var(--ifm-menu-color);
    background-color: var(--theme-page-background);
    transition: background var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
}

html[data-theme='dark'] .card {
    background-color: var(--ifm-menu-color-background-active);
}

.card:hover {
    color: var(--ifm-menu-color-active);
    background-color: var(--ifm-menu-color-background-active);
}

html[data-theme='dark'] .card:hover {
    background-color: var(--theme-page-background);
}

.projectDelete {
    display: none;
    position: absolute;
    top: 12px;
    right: 16px;
    color: red;
    opacity: 0.8;
    cursor: pointer;
}

.projectCard:hover .projectDelete {
    display: block;
}

.itemCard {
    position: relative;
    padding: 12px 12px 12px 24px;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--ifm-menu-color-background-active);
    color: var(--ifm-menu-color);
    transition: background var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
    user-select: none;
}

.itemCard.active,
.itemCard:hover {
    color: var(--ifm-menu-color-active);
    background-color: var(--ifm-menu-color-background-active);
}

.fieldName {
    display: block;
    margin: 8px 4px 2px;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}
