.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addCycle {
    font-size: 14px;
    color: var(--ifm-menu-color-active);
    cursor: pointer;
    font-weight: initial;
}

.cycle,
.cycleOption {
    flex-shrink: 0;
    margin-top: 10px;
}

.cycle {
    padding: 12px 12px 12px 24px;
}

.cycleOption {
    padding: var(--ifm-menu-link-padding-vertical)
        var(--ifm-menu-link-padding-horizontal);
    text-align: center;
}

.cycleName {
    display: flex;
    font-size: 20px;
    font-weight: var(--ifm-font-weight-semibold);
}

.ongoing {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--theme-primary);
}

.ongoing > span {
    margin-left: 4px;
}

.activeDot {
    margin-left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00bc5b;
}

.cycleDate {
    font-size: 14px;
    opacity: 0.6;
}

@media (pointer: fine) {
    .header:hover {
        color: var(--ifm-menu-color-active);
    }
}
