.header {
    cursor: pointer;
}

.cycle,
.cycleOption {
    flex-shrink: 0;
    margin-top: 10px;
}

.cycle {
    padding: 12px 12px 12px 24px;
}

.cycleOption {
    padding: var(--ifm-menu-link-padding-vertical)
        var(--ifm-menu-link-padding-horizontal);
    text-align: center;
}

.header:hover {
    color: var(--ifm-menu-color-active);
}

.cycleName {
    font-size: 20px;
    font-weight: var(--ifm-font-weight-semibold);
}

.cycleDate {
    font-size: 14px;
    opacity: 0.6;
}
