{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                "src/modules/ow/docs/*.md",
                "docs/js/dg7/*.md",
                "docs/js/pj3/*.md",
                "docs/js/ryf/*.md",
                "docs/react/**/*.md"
            ],
            "options": {
                "requirePragma": true
            }
        },
        {
            "files": [
                "src/modules/weaver/**/*.tsx",
                "src/modules/word-bank/**/*.tsx",
                "src/modules/luoye/**/*.tsx"
            ],
            "options": {
                "printWidth": 120
            }
        }
    ]
}
