{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": "src/ow/docs/*.md",
            "options": {
                "requirePragma": true
            }
        }
    ]
}
