{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": ["src/ow/docs/*.md", "docs/js/dg7/*.md"],
            "options": {
                "requirePragma": true
            }
        }
    ]
}
