.docView {
    --h-padding: 24px;
    --doc-nav-bar: 72px;
    --toc-width: 160px;
    position: relative;
    width: 100%;
}

.docNavBar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    padding: 16px var(--h-padding);
    height: var(--doc-nav-bar);
    border-bottom: 1px solid var(--ly-active-background);
    background: var(--ly-background);
    z-index: 100;
}

.docNavTitle {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.docIcon {
    display: none;
}

.docNavBar button {
    margin-left: 10px;
}

.document {
    margin: 0 auto;
    padding: 108px var(--h-padding);
    max-width: 1000px;
}

.document > h2 {
    scroll-margin-top: calc(var(--doc-nav-bar) + 12px);
}

.docInfo {
    margin-top: 24px;
    font-size: 16px;
    color: var(--ly-primary);
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
}

.docInfo > span {
    font-weight: bold;
}

/* 编辑器 */
.docInput {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    color: inherit;
    line-height: inherit;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        'Helvetica Neue', Helvetica, Arial, sans-serif;
    tab-size: 4;

    padding: 0;
}

.docInput::before {
    position: absolute;
    content: attr(data-placeholder);
    color: lightgray;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

.docNavTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc {
    position: fixed;
    top: calc(var(--doc-nav-bar) + 36px);
    right: var(--h-padding);
    padding: 2px 0 2px 16px;
    width: var(--toc-width);
    border-left: 1px solid var(--ly-primary);
    color: var(--ly-primary);
}

.tocItem {
    margin-top: 6px;
}

.toc > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centeredDoc {
    padding-left: calc(var(--toc-width) + var(--h-padding) + 12px);
}

@media screen and (max-width: 1400px) and (min-width: 769px) {
    .document:not(.centeredDoc) {
        margin-left: 4%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .document {
        max-width: 100%;
    }

    .centeredDoc {
        padding-left: calc(var(--h-padding) + 24% - 100px);
    }
}

@media screen and (min-width: 769px) {
    .document {
        padding-right: calc(var(--toc-width) + var(--h-padding) + 12px);
    }
}

@media screen and (max-width: 768px) {
    .docView {
        --h-padding: 22px;
    }

    .document {
        padding: 24px var(--h-padding) 108px;
    }

    .docIcon {
        display: flex;
    }

    .toc,
    .docNavTitle {
        display: none;
    }
}
