.pageView {
    --sidebar-width: 300px;

    position: relative;
    display: flex;
    min-height: 100%;
}

.pageView.noSidebar {
    --sidebar-width: 0;

    display: initial;
}

.sidebar {
    position: fixed;
    padding: 12px;
    width: var(--sidebar-width);
    height: 100%;
    border-right: 1px solid var(--ly-active-background);
    background: #fff8ed;
    user-select: none;
}

.sidebar h1 {
    font-size: 24px;
}

.sidebar h2 {
    margin: 0 0 10px 12px;
    font-size: 18px;
}

.sidebarList {
    margin: 0 0 12px;
    padding: 0;
    list-style: none;
}

.sidebarListItem,
.sidebarList li {
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 4px;
    padding: 6px 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.sidebar h1,
.sidebar h2,
.sidebarListItem > span,
.sidebarList li > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarListItemIcon {
    margin-right: 6px;
}

.contentView {
    --h-padding: 24px;
    --navbar-height: 0;
    position: relative;
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    min-height: 100%;
    background: #fffcf6;
}

.navbar {
    position: fixed;
    display: none;
    align-items: center;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    padding: 16px var(--h-padding);
    height: var(--navbar-height);
    border-bottom: 1px solid var(--ly-active-background);
    background: var(--ly-background);
    z-index: 100;
}

.content {
    padding-top: var(--navbar-height);
}

.active {
    background: var(--ly-active-background);
}

@media screen and (max-width: 768px) {
    .pageView {
        --sidebar-width: 0;

        display: initial;
    }

    .sidebar {
        display: none;
    }

    .contentView {
        --navbar-height: 72px;
        margin-left: 0;
        width: 100%;
    }

    .navbar {
        display: flex;
    }
}

@media (pointer: fine) {
    .sidebarList li:hover {
        background: var(--ly-active-background);
    }
}
