@media screen and (max-width: 850px) {
    .container {
        --detail-view-h-padding: 20px !important;
    }

    .cycleBar {
        display: flex !important;
    }
}

.container {
    --detail-view-h-padding: 42px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;
}

.taskPanel {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 24px var(--detail-view-h-padding);
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.categoryColumn {
    margin-right: 36px;
    flex-shrink: 0;
    width: 16vw;
    min-width: 264px;
    max-width: 284px;
    height: 100%;
}

.categoryContent {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.categoryName {
    flex: 0 0;
    margin: 0 0 8px 2px;
    font-size: 20px;
    font-weight: bold;
}

.categoryName > span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: normal;
    color: var(--theme-black-half);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-16px);
    }

    80% {
        opacity: 0.3;
        transform: translateX(-4px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.taskList {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 -12px 12px;
    padding: 0 12px;
    overflow: auto;
}

.taskAdd {
    flex: 0 0;
    padding: 2px;
    font-size: 20px;
    text-align: center;
}

.taskCard {
    position: relative;
    padding: 20px 20px 20px 28px;
    animation: slideIn 0.2s ease-in;
}

.taskCard + .taskCard {
    margin-top: 12px;
}

.taskName {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: bold;
}

.taskExecutor {
    margin: 0 0 4px 0;
}

.taskExecutor,
.taskFinished {
    font-size: 14px;
    color: var(--theme-black);
    opacity: 0.4;
}

.taskCardIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    border-radius: 0.25em 0 0 0.25em;
    background-color: var(--theme-primary);
}

.taskProgress {
    margin: 8px 0 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.cycleBar {
    flex-grow: 0;
    display: none;
    padding: 16px var(--detail-view-h-padding) 0;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
}

.cycleBar::-webkit-scrollbar {
    display: none;
}

.cycleButton {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: var(--ifm-menu-link-padding-vertical)
        var(--ifm-menu-link-padding-horizontal);
    font-weight: var(--ifm-font-weight-semibold);
    border-radius: 0.25rem;
    color: var(--ifm-menu-color);
    transition: background var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
    cursor: pointer;
}

.cycleButton + .cycleButton {
    margin-left: 8px;
}

.cycleAdd {
    margin-right: 4px;
    padding: var(--ifm-menu-link-padding-vertical) 16px;
    background-color: var(--theme-page-background);
}

html[data-theme='dark'] .cycleAdd {
    background-color: var(--ifm-menu-color-background-active);
}

.cycleButton.active {
    color: var(--ifm-menu-color-active);
    background-color: var(--ifm-menu-color-background-active);
}

@media (pointer: fine) {
    .cycleButton:hover,
    .cycleAdd:hover {
        color: var(--ifm-menu-color-active);
        background-color: var(--ifm-menu-color-background-active);
    }
}
