.token {
    position: relative;
    margin-bottom: 8px;
    padding: 0 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: var(--theme-color-lightgray);
    cursor: pointer;
}

.tokenInfo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: var(--theme-color-lightgray);
}

.tokenInfo > span {
    margin-right: 12px;
}

.sentence {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 54px;
    word-break: break-all;
}

.highlight {
    background-color: var(--theme-color-red);
}

.head {
    position: absolute;
    display: inline-block;
    left: 50%;
    font-family: initial;
    font-size: 12px;
    opacity: 0.3;
    word-break: keep-all;
    transform: translate(-50%, -14px) scale(0.7);
}

.optionBar {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding-left: 6px;
}

.option {
    border: none;
    outline: none;
    appearance: none;
    margin: 0 3px 3px 0;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}

.option.active {
    background-color: var(--theme-color-blue);
}

.option.other {
    background-color: var(--theme-color-yellow);
}

.page {
    margin: 40px auto;
    max-width: 900px;
}
