.chapterContent {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    padding: 4px 12px;
    max-width: 1000px;
}

.chapterContent > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.word {
    cursor: pointer;
}

.translation {
    margin-right: 4px;
    padding: 1px 2px;
    background-color: rgba(33, 186, 155, 0.5);
    color: var(--theme-white);
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
