@media screen and (max-width: 850px) {
    .sidebar {
        display: none;
    }

    .sidebarMobile {
        display: flex !important;
    }
}

.container {
    flex: 1;
    position: relative;
    display: flex;
    --default-font: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial,
        'Hiragino Sans', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

.container a {
    cursor: pointer;
}

.container input,
.container input:focus {
    padding: 0;
    outline: none;
    border: none;
    font-size: initial;
    font-weight: initial;
    font-family: var(--default-font);
}

.sidebar {
    flex-shrink: 0;
    margin-top: calc(var(--ifm-navbar-height) * -1);
    width: var(--doc-sidebar-width);
    border-right: 1px solid var(--ifm-toc-border-color);
}

.sidebarMobile {
    display: none;
    margin-bottom: 24px;
    width: 100%;
    overflow: auto;
}

.sidebarMobile::-webkit-scrollbar {
    display: none;
}

.sidebarInner {
    position: sticky;
    top: 0;
    padding: calc(var(--ifm-navbar-height) + 8px) 12px 48px;
    max-height: 100vh;
    overflow: auto;
}

.spacer {
    flex: 1;
}

.book {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: var(--ifm-menu-link-padding-vertical)
        var(--ifm-menu-link-padding-horizontal);
    cursor: pointer;
    border-radius: 0.25rem;
    color: var(--ifm-menu-color);
    transition: background var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
}

.header {
    display: flex;
    align-items: center;
    margin: 6px 0 0;
    padding: 0 8px;
    font-size: 24px;
    font-weight: var(--ifm-heading-font-weight);
    color: var(--ifm-heading-color);
}

.headerButton {
    font-size: 14px;
    color: var(--ifm-menu-color-active);
    cursor: pointer;
    font-weight: initial;
}

.book.active,
.book:hover {
    color: var(--ifm-menu-color-active);
    background-color: var(--ifm-menu-color-background-active);
}

.bookTitle {
    font-weight: var(--ifm-font-weight-semibold);
}

.bookDate {
    font-size: 14px;
    opacity: 0.6;
}

.content {
    flex: 1;
    padding: 24px 12px 120px;
    width: 100%;
    background-color: var(--ifm-menu-color-background-active);
}

.pageContent {
    margin: 12px auto 24px;
    max-width: 600px;
}

.pageContent > h1,
.pageContent > p {
    margin-left: 6px;
}

.wordListTitle {
    font-size: 24px;
}

.wordList {
    margin: 24px 0;
    padding: 2px 12px 4px;
    border-radius: 0.5rem;
    background-color: var(--theme-white);
}

html[data-theme='dark'] .wordList {
    background-color: rgba(0, 0, 0, 0.3);
}

.word {
    display: flex;
    padding: 2px 4px 0;
    line-height: 34px;
    min-height: 36px;
}

.word + .word {
    margin-top: 2px;
    border-top: 1px solid var(--ifm-menu-color-background-active);
}

.wordName {
    font-family: SourceSerifPro;
    font-size: 17px;
}

.inputBox {
    display: block;
    height: 100%;
    cursor: text;
}

.input {
    display: inline-block;
    min-height: 34px;
    min-width: 1px;
    white-space: nowrap;
}

.inputPlaceholder {
    color: lightgray;
    font-style: initial;
    font-family: var(--default-font);
    user-select: none;
    cursor: text;
}

.hide {
    display: none;
}

.wordPartOfSpeech,
.wordPartOfSpeechDot {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    text-align: end;
    opacity: 0.5;
}

.wordPartOfSpeech {
    margin-left: 4px;
}

.wordPartOfSpeechDot {
    user-select: none;
}

.wordDefinition {
    display: block;
    margin-left: 4px;
    font-family: var(--default-font);
}
