.ow-button-orange {
    padding: 3px 24px 8px;
    border-radius: var(--button-border-radius);
    border: 3px solid transparent;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    background-color: rgba(239, 166, 89, 0.85);
    cursor: var(--cursor-img), pointer;
    z-index: 1200;
}

@media (pointer: fine) {
    .ow-button-orange:hover {
        border: 3px solid white;
        background-color: rgba(202, 141, 103, 0.85);
    }
}
