.ow-view {
    --nav-v-margin: min(2.5vh, 30px);
    --nav-h-margin: min(5vw, 44px);
    --nav-bar-height: min(7vh, 64px);
    --header-font-size: min(10vw, 200px);
    --header-top: 62px;
    --header-left: min(7vw, 120px);
    --button-border-radius: 2px;
    --cursor-img: url(/static/assets/ow/ow-cursor.png);
    position: relative;
    flex: 1 0 auto;
    cursor: var(--cursor-img), auto;
    overflow: hidden;
    user-select: none;
    font-family: 'microsoft yahei', 'Helvetica Neue', Helvetica, Roboto, Arial,
        sans-serif;
}

@keyframes float-effect {
    from {
        transform: translateY(20%) skewX(-16deg);
        opacity: 0.5;
    }
    to {
        transform: translateY(0) skewX(-16deg);
        opacity: 1;
    }
}

.ow-header {
    position: fixed;
    top: var(--header-top);
    left: var(--header-left);
    z-index: 100;
    font-size: var(--header-font-size);
    line-height: 1;
    background: linear-gradient(rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: 0.5s float-effect both;
}

.ow-header-middle {
    position: fixed;
    top: var(--header-top);
    left: calc(var(--header-left) * 0.5);
    z-index: 100;
    font-size: calc(var(--header-font-size) * 0.7);
    line-height: 1;
    background: linear-gradient(
        rgba(255, 255, 255, 0.85) 10%,
        rgba(255, 255, 255, 0)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: 0.5s float-effect both;
}

@media screen and (max-width: 500px) {
    .ow-view {
        --header-top: calc(var(--nav-bar-height) + 2 * var(--nav-v-margin));
        --header-font-size: 20vw;
    }
}

.ow-hero-ul {
    padding: 0;
    list-style-type: none;
}

.ow-view * {
    scrollbar-width: none;
}

.ow-view ul {
    list-style-type: none;
}

.ow-view ::-webkit-scrollbar {
    display: none;
}
