.ow-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(var(--header-font-size) + var(--header-top));
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.ow-hero-ul {
    --hero-height: min(12vw, 205px);
    --hero-width: min(8.4vw, 145px);
    --hover-scale: 1.2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 18px min(7vw, 140px) 48px;
}

@media screen and (max-width: 900px) {
    .ow-hero-ul {
        --hero-height: max(14vw, 102px);
        --hero-width: max(10vw, 72px);
    }
}

@media (pointer: coarse) {
    .ow-hero-ul {
        --hover-scale: 1;
        padding-top: 0;
    }
}

@keyframes fade-in {
    from {
        transform: scale(0.5) skewX(var(--li-skew));
        opacity: 0;
    }
    to {
        transform: skewX(var(--li-skew));
        opacity: 1;
    }
}

.ow-hero-li {
    --li-skew: -14deg;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    width: var(--hero-width);
    height: var(--hero-height);
    border: 3.5px solid #dddde3;
    border-radius: 5px;
    background-color: white;
    cursor: var(--cursor-img), pointer;
    overflow: hidden;
    transform: skewX(var(--li-skew));
    opacity: 1;
    transition: transform 0.05s ease-out;
    animation: fade-in 0.6s backwards;
    animation-delay: calc(0.1s + var(--i) * 0.02s);
}

.ow-hero-li:hover {
    transform: scale(var(--hover-scale)) skewX(var(--li-skew));
    z-index: 10;
}

.ow-hero-li-img {
    position: relative;
    padding: 16%;
    width: 125%;
    max-width: initial;
    height: 65%;
    object-fit: contain;
    transform: skewX(calc(var(--li-skew) * -1));
}

.ow-hero-li-title {
    font-size: calc(var(--hero-height) * 0.127);
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #e6e6ea;
}

.ow-hero-li-desc {
    flex-grow: 1;
    width: 100%;
    font-size: calc(var(--hero-height) * 0.087);
    line-height: 1.25;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.1px black;
    background-color: #af595c;
}

.ow-hero-li-desc > div {
    transform: skewX(calc(var(--li-skew) * -1));
}
