.ow-operator-button {
    --key-background: rgba(0, 0, 0, 0.6);
    --key-border: rgba(230, 230, 230, 0.5);
    --key-color: white;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    border: 3px solid transparent;
    color: white;
    cursor: pointer;
    z-index: 200;
}

.ow-operator-button:hover {
    --key-background: #ececec;
    --key-border: #ffffff;
    --key-color: #393939;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
}

.ow-operator-key {
    padding: 3px 8px 4px;
    border: 3px solid var(--key-border);
    border-radius: 2px;
    background-color: var(--key-background);
    color: var(--key-color);
}

.ow-operator-text {
    padding: 0 12px 4px;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.7px black;
}

.ow-right-bottom-button {
    position: fixed;
    right: min(5vw, 52px);
    bottom: min(5vw, 40px);
}

@media (pointer: coarse) {
    .ow-operator-button {
        --key-background: #ececec;
        --key-border: #ffffff;
        --key-color: #393939;
        border: 3px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .ow-operator-key {
        display: none;
    }
}

.ow-button-confirm {
    padding-bottom: 10px;
    width: 174px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #e29932;
    border: 3px solid transparent;
    box-shadow: 0 0 4px 1px rgba(255, 202, 56, 0.5);
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.05s ease-out;
}

@media (pointer: fine) {
    .ow-button-confirm:hover {
        background-color: #92642a;
        border: 3px solid white;
        transform: scale(1.1);
    }
}
