.container {
    margin: 0 auto;
    padding: 50px 10px;
    width: 90vw;
    max-width: 500px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.field > label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
}

.field > input {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--theme-black-half);
}

.form button {
    appearance: none;
    margin: 12px 12px 24px 0;
    padding: 6px 14px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--theme-black-half);
    font-size: 16px;
    color: initial;
    cursor: pointer;
}
