.container {
    margin: 0 auto;
    padding: 50px 10px;
    width: 90vw;
    max-width: 500px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.field > label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
}

.field > input {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--theme-black-half);
}

.buttonGroup {
    display: flex;
    margin-top: 24px;
}

.buttonGroup > button + button {
    margin-left: 16px;
}