main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
    transition: all 0.3s;
}

main a,
main a:hover,
main code,
main h1:hover,
main h2:hover,
main h3:hover,
main h4:hover,
main h5:hover,
main h6:hover {
    color: var(--primary);
}

main > pre {
    background: var(--page);
}
