@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 200;
    user-select: none;
    animation: fadeIn 0.1s ease-in-out;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.form {
    padding: 32px;
    width: 90vw;
    max-width: 600px;
    max-height: 80%;
    border-radius: 0.25rem;
    border: 1px solid var(--ifm-menu-color-background-active);
    color: var(--ifm-menu-color);
    background-color: var(--pure-background);
    overflow: auto;
    z-index: 10;
}

.form > h2 {
    margin-bottom: 24px;
    color: var(--ifm-menu-color-active);
}

.formItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 18px;
}

.formItem > label {
    flex-shrink: 0;
    margin: 5px 0;
    width: 8em;
    font-weight: bold;
    text-align: right;
}

.formItem > label > span {
    margin-right: 4px;
    color: red;
}

.path {
    margin: 5px 0;
    color: var(--ifm-color-primary);
}

.options {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0;
}

.formItem button {
    margin: 0 16px 0 0;
}

@media screen and (max-width: 850px) {
    .form {
        padding: calc(16px + 2vw);
    }

    .formItem {
        flex-direction: column;
    }

    .formItem > label {
        text-align: left;
    }
}
